# Oscar Dominguez

In [1]:
# imports
import pandas as pd

# Numpy
import numpy as np

# Akas table:
- keep only US movies.
- Replace "\N" with np.nan

In [ ]:
#Loading Akas data
akas_url="https://datasets.imdbws.com/title.akas.tsv.gz"
akas = pd.read_csv(akas_url, sep='\t', low_memory=False)
akas.info()

In [ ]:
akas.head()

## keep only US movies.

In [ ]:
#Creating new dataset with the rows that have US in region
akas_us = akas[akas['region']== 'US']
akas_us

## Replace "\N" with np.nan

In [ ]:
#I will use this code below to check that \N was replaced by NaN
akas_us.isnull().sum(axis = 0)

In [ ]:
#Replacing \N with NaN and displaying dataframe to look for NaN values
akas_us.replace({'\\N':np.nan}, inplace=True)
akas_us

In [ ]:
#Counting NaN value to ensure they replaced \N
akas_us.isnull().sum(axis = 0)

# Basics table:
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- keep startYear 2000-2022
- Eliminate movies that include "Documentary" in genre (see tip below)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [ ]:
#Loading basics data
basics_url="https://datasets.imdbws.com/title.basics.tsv.gz"
basics = pd.read_csv(basics_url, sep='\t', low_memory=False)
basics.info()

In [ ]:
basics.head()

## Replace "\N" with np.nan

In [ ]:
#Replacing all \N values with NaN
basics.replace({'\\N':np.nan}, inplace=True)
basics

## Eliminate movies that are null for runtimeMinutes

In [ ]:
#Checking null count
basics['runtimeMinutes'].isna().sum()

In [ ]:
#Resource for dropping null values - 
#https://stackoverflow.com/questions/49291740/delete-rows-if-there-are-null-values-in-a-specific-column-in-pandas-dataframe
basics = basics.dropna(axis=0, subset=['runtimeMinutes'])

In [ ]:
#Checking null count to ensure values were removed
basics['runtimeMinutes'].isna().sum()

## Eliminate movies that are null for genre

In [ ]:
#Same as above, getting null count then removing nulls and getting another count
#to ensure change.
basics['genres'].isna().sum()

In [ ]:
basics = basics.dropna(axis=0, subset=['genres'])

In [ ]:
basics['genres'].isna().sum()

## Keep only titleType==Movie

In [ ]:
#Viewing value_counts() to ensure we only keep titleType movie
basics['titleType'].value_counts()

In [ ]:
#Saving titleType movie to dataframe
basics = basics[basics['titleType']== 'movie']
basics

In [ ]:
#Getting value counts to ensure movie is the only value in titleType column
basics['titleType'].value_counts()

## Keep startYear 2000-2022 (change to float)

In [ ]:
basics['startYear'] = basics['startYear'].astype(float)

In [ ]:
#Checking data type for conversion to float
basics['startYear'].dtype

In [ ]:
#Resource- https://stackoverflow.com/questions/29370057/select-dataframe-rows-between-two-dates
basics = basics[(basics['startYear'] >= 2020) & (basics['startYear'] <= 2023)]
basics

## Eliminate movies that include "Documentary" in genre (see tip below)

In [ ]:
#Getting value count to ensure change
basics['genres'].value_counts()

In [ ]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

In [ ]:
#Getting value count to ensure change
basics['genres'].value_counts()


## Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [ ]:
#Using filtered datafram to filter another dataframe
keepers = basics['tconst'].isin(akas_us['titleId'])

In [ ]:
#Displaying filtered dataframe
basics = basics[keepers]
basics

# Ratings table:
- Replace "\N" with np.nan (if any)
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [ ]:
#Loading ratings dt
ratings_url="https://datasets.imdbws.com/title.ratings.tsv.gz"
ratings = pd.read_csv(ratings_url, sep='\t',
                      low_memory=False)
ratings.info()

In [ ]:
ratings.head()

## Replace "\N" with np.nan (if any)

In [ ]:
ratings.replace({'\\N':np.nan}, inplace=True)

## Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)

In [ ]:
#Using filtered dataframe to filter another dataframe 
keepers =ratings['tconst'].isin(akas_us['titleId'])

In [ ]:
#Displaying results
ratings = ratings[keepers]
ratings